

<div id="content" class="row">
        <div id="left" class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle">组织机构<i class="icon-refresh pull-right" onclick="refreshTree();"></i></a>
            </div>
            <abn-tree tree-data="myTreeData" tree-control="myTree" on-select="myTreeHandler(branch)"
                                  expand-level="2" initial-selection="Granny Smith"></abn-tree>
        </div>
        <div id="openClose" class="icon-close">&nbsp;</div>
    </div>