<div class="col-sm-12">
    <h5 class="subtitle subtitle-lined">Details</h5>
    <div class="row">
        <div class="col-sm-6">
            <div class="row" ng-repeat="r1 in recordData1">
                <div class="col-xs-6">{{r1.label}}</div>
                <div class="col-xs-6">{{r1.value}}</div>
            </div>
        </div><!-- col-sm-6 -->
        <div class="col-sm-6">
            <div class="row" ng-repeat="r2 in recordData2">
                <div class="col-xs-6">{{r2.label}}</div>
                <div class="col-xs-6">{{r2.value}}</div>
            </div>
        </div><!-- col-sm-6 -->
    </div><!-- row -->
    
    <br><br>
    
    <ul class="nav nav-tabs">
        <li ng-repeat="relationObj in mt.relationObjs"  ui-sref-active="active"><a data-toggle="tab" ui-sref="app.detail.relationObj({rmid:relationObj.relationObject,roid:relationObj.relationObjId})"><strong>{{relationObj.relationObject}}</strong></a></li>
    </ul>
    <br>
    <div class="tab-content noshadow">
        <div ui-view>
    </div>
    
</div>