<form name="editForm" ng-submit="onSubmit()" novalidate>
		<formly-form model="formData" fields="formFields">
		<button type="submit" class="btn btn-primary submit-button" ng-disabled="editForm.$invalid">保存</button>
	</formly-form>
</form>
<script type="text/ng-template" id="custom-messages.html">
	<div class="my-messages" ng-messages="options.formControl.$error" ng-if="options.validation.errorExistsAndShouldBeVisible">
		<div class="error-message" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
			{{message(options.formControl.$viewValue, options.formControl.$modelValue, this)}}
		</div>
	</div>
</script>