<section class="content-header"><label>查询:</label><select ng-options="view.id as view.viewName for view in views" ng-model="vid" ng-change="update()" >
</select> <a ui-sref="app.query({mid:mid})">新建查询</a><a ui-sref="app.query({mid:mid,vid:vid})">编辑</a>
</section>
<section>
	<a ui-sref="app.formly({mid:mid})" class="btn btn-primary">新建</a>
	<a ng-click="detail()" ng-disabled="!mySelections || mySelections.length===0 || mySelections.length>1" class="btn btn-info">查看</a>
	<a ng-click="edit()" ng-disabled="!mySelections || mySelections.length===0 || mySelections.length>1" class="btn btn-success">编辑</a>
	<a ng-click="delete()" ng-disabled="!mySelections || mySelections.length===0 || mySelections.length>1" class="btn btn-danger">删除</a></section>
	<div class="row">
		<div class="col-sm-12"><div   ui-grid="gridOptions" ui-grid-selection ui-grid-pagination="pagingOptions"></div></div>
		</div>