	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div>
					<div class="row">
						<div class="col-md-6">
							<div>对象列表<div class="pull-right"><a class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#modal_mt">新增</a></div></div>
							<abn-tree tree-data="mtData" tree-control="myTree" on-select="myTreeHandler(branch)"
							expand-level="2" initial-selection="Granny Smith"></abn-tree>
						</div>
						<div class="col-md-6">
							<div>字段列表<div class="pull-right"><a class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#modal_dialog">新增</a></div></div>
							<div class="table"  ui-grid="gridOptions">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">新增字段</h4>
			</div>
			<div class="modal-body" id="modal_dialog_content">
				<form id="editFieldForm" class="form-horizontal" role="form">
					<div class="form-group">
						<label for="type" class="col-sm-2 control-label">字段类型</label>

						<div class="col-sm-10">
							<select ng-model="newmf.type" class="form-control" id="type">
								<option ng-repeat="type in field_types" value="{{type.value}}">
									{{type.name}}
								</option>
							</select>
						</div>
					</div>
					<div class="form-group" ng-show="newmf.type==='relation'">
						<label for="relationObj" class="col-sm-2 control-label">相关项</label>

						<div class="col-sm-10">
							<select ng-model="newmf.relationObj" class="form-control" id="type">
								<option ng-repeat="mt in mtData" value="{{mt.id}}">
									{{mt.label}}
								</option>
							</select>
						</div>
					</div>
					<div class="form-group" ng-show="newmf.type==='select' || newmf.type==='multiselect'">
						<label for="options" class="col-sm-2 control-label">选项值</label>

						<div class="col-sm-10">
						<textarea ng-model="newmf.options" class="form-control" id="options"></textarea>
						<p id="options_description" class="help-block">键值以|分隔，选项以回车分隔，如：<br/>男|1<br/>女|0</p>
						</div>
					</div>
					<div class="form-group" >
						<label for="key" class="col-sm-2 control-label">字段KEY</label>

						<div class="col-sm-10">
							<input ng-model="newmf.key" type="text" class="form-control" id="key">
						</div>
					</div>
					<div class="form-group">
						<label for="label" class="col-sm-2 control-label">标签</label>

						<div class="col-sm-10">
							<input ng-model="newmf.label" type="text" class="form-control" id="label">
						</div>
					</div>
					<div class="form-group">
						<label for="required" class="col-sm-2 control-label">是否必填</label>

						<div class="col-sm-2">
							<input  ng-model="newmf.required" type="checkbox" class="form-control" id="required">
						</div>
					</div>
					<div  class="form-group">
						<label for="disabled" class="col-sm-2 control-label">是否可编辑</label>

						<div class="col-sm-2">
							<input  ng-model="newmf.disabled" type="checkbox" class="form-control" id="disabled">
						</div>
					</div>
					<div class="form-group">
						<label for="defaultValue" class="col-sm-2 control-label">默认值</label>

						<div class="col-sm-2">
							<input  ng-model="newmf.defaultValue" type="checkbox" class="form-control" id="defaultValue">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="modal_btn_ok" type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="saveMf()">保存</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_mt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
style="display: none;">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel">新增对象</h4>
		</div>
		<div class="modal-body" id="modal_dialog_content">
			<form id="editFieldForm" class="form-horizontal" role="form">
				
				<div class="form-group">
					<label for="id" class="col-sm-2 control-label">对象ID</label>

					<div class="col-sm-10">
						<input ng-model="newmt.id" type="text" class="form-control" id="id">
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">对象名称</label>

					<div class="col-sm-10">
						<input ng-model="newmt.name" type="text" class="form-control" id="name">
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button id="modal_btn_ok" type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="saveMt()">保存</button>
		</div>
	</div>
</div>
</div>