<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <abn-tree tree-data="roleData" tree-control="myTree" on-select="myTreeHandler(branch)"
                                  expand-level="2" initial-selection="Granny Smith"></abn-tree>
                    </div>
                    <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>对象</th>
                        <th>创建</th>
                        <th>读取</th>
                        <th>更新</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="mt in mts">
                        <td>{{mt.name}}</td>
                        <td><input
                            type="checkbox"
                            name="selectedMts[]"
                            ng-checked="checked(mt.id+'_r')"
                            ng-click="toggleSelection(mt.id+'_r')"
                            ></td>
                        <td><input
                            type="checkbox"
                            name="selectedMts[]"
                            ng-checked="checked(mt.id+'_c')"
                            ng-click="toggleSelection(mt.id+'_c')"
                            ></td>
                        <td><input
                            type="checkbox"
                            name="selectedMts[]"
                            value="{{mt.id}}"
                            ng-checked="checked(mt.id+'_u')"
                            ng-click="toggleSelection(mt.id+'_u')"
                            ></td>
                        <td><input
                            type="checkbox"
                            name="selectedMts[]"
                            value="{{mt.id}}"
                            ng-checked="checked(mt.id+'_d')"
                            ng-click="toggleSelection(mt.id+'_d')"
                            ></td>
                    </tr>
                </tbody>
            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>